body {
    background-color: black;
    color: red;
    display: grid;
    grid-gap: 1px;
    grid-template-columns: repeat(25, 30px);
}


.cell {
  width: 30px;
  height: 30px;
  background: white;
}

.snake {
    width: 10px;
    height: 10px;
    background: black;
  }