body {
  background-color: beige;
  margin: 0;
}

.container {
  margin: 0 auto;
  display: grid;
  box-sizing: border-box;
  width: 100vw;
  height: 100vw;
  box-sizing: border-box;
  border-bottom: 1px solid red;
}

@media (min-width: 525px) {
  .container {
    width: 80vw;
    height: 80vw;
  }
}
@media (min-width: 825px) {
  .container {
    width: 70vw;
    height: 70vw;
  }
}
@media (min-width: 1025px) {
  .container {
    width: 50vw;
    height: 50vw;
  }
}

div.food {
  display: flex;
  justify-content: center;
}

p {
  margin: 0;
  font-size: 5px;
  font-size: 1.8vw;
  align-self: center;
}

.cell {
  background: white;
}

.snake {
  background: black;
}